*{
    box-sizing: border-box;
}

html, body{
    width: 100%;
    margin: 0;
    padding: 0;
}

section {
    min-height:50vh;
    width: 100%;
    background-color: #00a9ff;
}
section#welcome-section {
    min-height:100vh;
    width: 100%;
    background-color: #ffd800;
    color: white;
}

header, footer{
    width: 100%;
    height:5vh;
    background-color: green;  
}